{
  "presets": ["env","stage-0","react"],
  "plugins": ["transform-runtime",["react-hot-loader/babel"],["import", {
    "libraryName": "antd",
    "libraryDirectory": "es",
    "style": "css"
  }]],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
