.layout {
  height: 100%;
  :global {
    aside {
      .ant-menu-submenu {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
      }
      .ant-menu-item {
        a {
          display: inline-block;
        }
      }
      .ant-menu-inline-collapsed > .ant-menu-item {
        span {
          max-width: 0;
          display: inline-block;
          opacity: 0;
        }
      }
    }
    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
    }
    .trigger:hover {
      color: #1890ff;
    }
    .logo {
      height: 64px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
    header {
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
      position: relative;
      z-index: 2;
      .anticon-menu-fold {
        font-size: 20px;
        padding-top: 3px;
      }
      .logout {
        display: inline-block;
        height: 100%;
        padding: 0 12px;
        cursor: pointer;
        transition: all .3s;
        float: right;
        margin-right: 12px;
        &:hover {
          background-color: rgba(0, 0, 0, .025);
        }
        img {
          height: 24px;
          width: 24px;
          border-radius: 50%;
          margin-right: 8px;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          height: 24px;
          line-height: 24px;
          vertical-align: middle;
        }
      }
    }
    .breadcrumb {
      padding: 12px 24px;
      background-color: #fff;
      .ant-breadcrumb-link {
        a:hover {
          color: #40a9ff;
        }
      }
    }
    main {
      margin: 24px !important;
    }
  }
}
